.msg-home{
    padding-right: 40%;
    top:29%;
    font-size: 35px;
    font-style: italic;
}
.welcome{
    height: 550px;
}

.service_img{
    height: 600px;
    filter: brightness(60%);
}
.services_containers p{
    font-size: 16px;
    line-height: 30px;
    color: #868e96;
}
.services_containers b{
    font-size: 18 !important;
    color: black;
    font-weight: 700;
    
}
.services_containers i{
    color:white
}

.services_containers>div:hover{
    /* background-color: rgb(158, 158, 158);
    transition: background-color 0.3s linear; */
    color: var(--slideTextColor);
    cursor: pointer;
    background-position: -100% 100%;
    border: none;
}
.services_containers>div{
    border:0.5px solid #868e96;
    /* transition: background-color 0.3s linear; */
    --initialTextColor: #868e96;
    --slideTextColor: white;

    --initialBgColor: white;
    --slideBgColor:#f6b21b;

    color: var(--initialTextColor);

    background-image: linear-gradient(90deg,
        var(--initialBgColor) 0%,
        var(--initialBgColor) 50%,
        var(--slideBgColor) 50%,
        var(--slideBgColor) 100%);
    background-size: 200%;
    transition: background-position .4s linear,
      color .4s linear;
    /* transition-delay: 0.0s, 0.1s; */
}
.services_containers>div:hover p{
   color: white !important;
}
.services_containers>div:hover i{
    color: #f6b21b !important;
 }
 .icon_container{
    background:#f6b21b
 }
 .services_containers>div:hover .icon_container{
     background: black;
 }

 .service_para{
    line-height: 60px;
    top:13%;
    padding: 5px;
padding-right:22%;
font-size: 26px;
color:white;
 }
 .service_para>b{
     color:white !important;
     font-size: 35px;
     font-weight: 700;
 }
 
 .partenaire_text{
     color:#868e96;
     font-size: 26px;
     line-height: 50px;
     padding-top: 5%;

 }
 .partenaire_text>b{
     font-size: 30px;
     color: black;
     font-weight: 700;
 }
 .partenaire_text>span{
    font-weight: 600px;
    color: rgb(71, 71, 71);
}

.partenaire {
background-color: #f8f9fa;
}


.compétence{
    display: flex;
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
}
.compétence>div{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* margin-left: 8%; */
    font-size: 18px;
 
}




@media screen and (max-width:992px){
    
    .compétence{
        flex-direction: column;
        margin-left: 10%;
        margin-right: 0px
    }
    
   
}
@media screen and (max-width:950px){
    .msg-home{
       
        top:20%;
        
    }
     
}
@media screen and (max-width:768px){
    .service_img{
        height: 350px !important;
    }
    
    .compétence>div{
        width: 100% !important;
    }
    .welcome{
        height: 350px !important;
    }
    .msg-home{
        padding-right: 0% !important;
        top:20%;
        font-size: 23px
    }
}
@media screen and (max-width:832px){
    .service_para{
       
        top:7%;
    }
    
}
@media screen and (max-width:700px){
.service_para{
    padding-right: 2% !important;
    line-height: 40px;
    top:5%;
}
}
@media screen and (max-width:350px){
    .msg-home{
        top:10%
    }
}